#Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

#Eclipse project
.classpath
.project
.settings/

#IntelliJ
.idea/

#vscode
.vscode/

/target/
**/faces-config.NavData
